@each $name, $value in project('color-pallet') {
	@include describe(bg-#{$name}){
		background-color: $value;
	}
	@if type-of($value) == 'color' {
		@include describe(bg-#{$name}-dark){
			background-color: darken($value,20%);
		}
		@include describe(bgimg-color-#{$name}){
			background: {
				image: solidGradient($value);
				repeat: no-repeat;
			}
		}		
	}
	@include describe(border-#{$name}){
		border-color: $value;
	}
}

@include describe(bgimg-full-size) {
	background-size: 100% 100%;
}
@include describe(bgimg-full-height) {
	background-size: auto 100%;
}
@include describe(bgimg-no-repeat) {
	background-repeat: no-repeat;
}
@include describe(bgimg-left-top) {
	background-position: left top;
}
@include describe(bgimg-center) {
	background-position: center;
}
@include describe(bgimg-center-top) {
	background-position: center top;
}
@include describe(bgimg-right-top) {
	background-position: right top;
}
@include describe(bgimg-cover) {
	background-size: cover;
}
@include describe(bgimg-contain) {
	background-size: contain;
}

// Cursor 
@include describe(pointer){
	cursor: pointer;
}