


@include describe(bgimg-no-repeat) {
	background-repeat: no-repeat;
}
@include describe(bgimg-left-top) {
	background-position: left top;
}
@include describe(bgimg-center) {
	background-position: center;
}
@include describe(bgimg-center-top) {
	background-position: center top;
}
@include describe(bgimg-right-top) {
	background-position: right top;
}


// Cursor 
@include describe(pointer){
	cursor: pointer;
}